{% extends 'common.html' %}
{% load static %}

{% block content %}
<div class="changepassword_center">
<div class="changepassword_container">
    <div class="changepassword_form">
      <h1 class="changepassword_heading">Change Your Password</h1>
      {% for message in messages %}
      <div class="changepassword_alert alert-{{ messages.tags }}">{{ message }}
        <button class="changepassword_close_btn" aria-label="Close">×</button>
      </div>
      {% endfor %}
      <form action="{% url 'changepassword' %}" method="post" autocomplete="off">
        {% csrf_token %}
        <label class="changepassword_label" for="password" >Current Password:</label>
        <input class="changepassword_input" type="text" name="currentpassword" id="currentpassword" placeholder="Current password" required autocomplete="off">
        <label class="changepassword_label" for="password" >New Password:</label>
        <input class="changepassword_input" type="password" name="newpassword" id="newpassword" placeholder="New password" autocomplete="off" required>
        <label class="changepassword_label" for="password" >Confirm New Password:</label>
        <input class="changepassword_input" type="password" name="confnewpassword" id="confnewpassword" placeholder="Re-enter New Password" autocomplete="off" required>
        <button class="changepassword_submit" type="submit">Change Password</button>
      </form>
    </div>
    <h3 class="changepassword_forgot"><a href="/forgotpassword/">Forgot password?</a></h3>
</div> 
</div>  

<script>
    const closebutton = document.querySelectorAll('.changepassword_close_btn')
    closebutton.forEach(function(btn) {
        btn.addEventListener('click', function(){
            const alertDiv = btn.closest('.changepassword_alert');
            if(alertDiv){
                alertDiv.parentNode.removeChild(alertDiv);
            }
        });
    });

</script>
{% endblock %}