{% extends 'common.html' %}
{% load static %}

{% block content %}
<div class="forgotpassword_and_otp_pages_outer-box">
    <div class="forgotpassword_and_otp_pages_box">
        <div class="forgotpassword_and_otp_pages_form">
            <h1 class="forgotpassword_and_otp_pages_heading">Verify your OTP</h1>
            <p class="forgotpassword_and_otp_pages_title">Please enter the otp you received on your phone number</p>
            {% if messages %}
                {% for message in messages %}
                    <div class="forgotpassword_and_otp_pages_alert alert-danger">{{ message }}
                        <button class="forgotpassword_and_otp_pages_close-btn" aria-lable="Close">×</button>
                    </div>
                {% endfor %}
            {% endif %}
            <form action="{% url 'otpverification' phone %} " method="post">
                {% csrf_token %}
                <input class="forgotpassword_and_otp_pages_input" type="number" name="otp" placeholder="Enter the otp you recieved on: {{phone}}">
                <button class="forgotpassword_and_otp_pages_button" type="submit">Submit</button>
            </form>
        </div>
    <h3 class="forgotpassword_and_otp_pages_login"><a href="/login/">Remember your password?</a></h3>
    </div>
</div>
<script>
    const closeButtons = document.querySelectorAll('.forgotpassword_and_otp_pages_close-btn');
    closeButtons.forEach(function(btn){
        btn.addEventListener('click', function(){
            const alertDiv = btn.closest('.forgotpassword_and_otp_pages_and_otp_pages_alert');
            if(alertDiv){
            alertDiv.parentNode.removeChild(alertDiv);
            }
        }); 
    });
</script>

{% endblock %}