{% extends 'common.html' %}
{% load static %}

{% block content %}
<div class="changepassword_and_reset_pages_center">
<div class="changepassword_and_reset_pages_container">
    <div class="changepassword_and_reset_pages_form">
      <h1 class="changepassword_and_reset_pages_heading">Reset Your Password</h1>
      {% for message in messages %}
      <div class="changepassword_and_reset_pages_alert alert-{{ messages.tags }}">{{ message }}
        <button class="changepassword_and_reset_pages_close_btn" aria-label="Close">×</button>
      </div>
      {% endfor %}
      <form action="{% url 'resetpassword' phone %}" method="post" autocomplete="off">
        {% csrf_token %}
        <label class="changepassword_and_reset_pages_label" for="password" >New Password:</label>
        <input class="changepassword_and_reset_pages_input" type="password" name="newpassword" id="newpassword" placeholder="New password" autocomplete="off" required>
        <label class="changepassword_and_reset_pages_label" for="password" >Confirm New Password:</label>
        <input class="changepassword_and_reset_pages_input" type="password" name="confnewpassword" id="confnewpassword" placeholder="Re-enter New Password" autocomplete="off" required>
        <button class="changepassword_and_reset_pages_submit" type="submit">Reset Password</button>
      </form>
    </div>
    <h3 class="changepassword_and_reset_pages_forgot"><a href="/forgotpassword/">Generate New OTP?</a></h3>
</div> 
</div>  

<script>
    const closebutton = document.querySelectorAll('.changepassword_and_reset_pages_close_btn')
    closebutton.forEach(function(btn) {
        btn.addEventListener('click', function(){
            const alertDiv = btn.closest('.changepassword_and_reset_pages_alert');
            if(alertDiv){
                alertDiv.parentNode.removeChild(alertDiv);
            }
        });
    });

</script>
{% endblock %}