/* common.html styles */
/* common.html styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.contents {
    flex: 1;
    margin-top: 80px;
}

.foot {
    background-color: white;
    border-top: 1px solid #ddd;
    width: 100%;
}

.foot {
    flex-shrink: 0; /* Prevent footer from shrinking */
}
/* common.html styles */
/* common.html styles */

/* navbar.html styles */
/* navbar.html styles */
.navbar {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 40px;
}

.navbar_left,
.navbar_right {
    display: flex;
    justify-content: center;
}

.navbar_center {
    flex: 2;
    display: flex;
    justify-content: center;
}

.navbar_logo {
    font-size: 40px;
    font-weight: bold;
    color: #ed6810;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar_logo a {
    text-decoration: none;
    color: inherit;
}

.navbar_logo a:hover {
    color: #0d0d0d;
}

.navbar_navlinks {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar_navlinks li {
    display: inline-block;
    margin: 0 40px;
    font-size: 20px;
}

.navbar_navlinks a {
    text-decoration: none;
    color: #000;
    font-weight: normal;
}

.navbar_navlinks li a i {
    margin-right: 5px; /* Adjust the margin-right to create space between the icon and text */
}

.navbar_dropdown{
    position: relative;
    display: inline-block;
}

.navbar_dropbtn{
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.navbar_dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    font-size: 20px;
}

.navbar_dropdown-content a {
    color: black;
    padding: 6px 6px;
    text-decoration: none;
    font-size: 15px;
    display: block;
}

.navbar_dropdown-content a:hover {
    background-color: #ddd;
}

.navbar_dropdown:hover .navbar_dropdown-content {
    display: block;
}
/* navbar.html styles */
/* navbar.html styles */


/* footer.html styles */
/* footer.html styles */
/* footer.html styles */
.footer {
    background-color: white;
}

.footer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_left, .footer_center {
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
}

.footer_logo {
    font-size: 30px;
    font-weight: bold;
    color: #ed6810;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 20px;
}

.footer_logo a {
    text-decoration: none;
    color: inherit;
}

.footer_socials {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer_socials li {
    margin: 0 10px;
    font-size: 30px;
}

.footer_socials a {
    color: #000;
    text-decoration: none;
}

.footer_navlinks {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer_navlinks li {
    margin: 10px 15px;
    font-size: 18px;
}

.footer_navlinks a {
    text-decoration: none;
    color: #000;
    font-weight: normal;
}

.footer_navlinks li a i {
    margin-right: 5px;
}

.footer_navlinks li a i, .footer_socials a i {
    color: #ed6810;
}
/* footer.html styles */
/* footer.html styles */
/* footer.html styles */
