.contents {
    margin-top: 80px; /* Adjust the margin-top to create space between the navbar and content */
}

/* navbar.html styles */
/* navbar.html styles */
.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 40px;
}

.navbar_left,
.navbar_right {
    display: flex;
    justify-content: center;
}

.navbar_center {
    flex: 2;
    display: flex;
    justify-content: center;
}

.navbar_logo {
    font-size: 40px;
    font-weight: bold;
    color: #ed6810;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar_logo a {
    text-decoration: none;
    color: inherit;
}

.navbar_logo a:hover {
    color: #0d0d0d;
}

.navbar_navlinks {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar_navlinks li {
    display: inline-block;
    margin: 0 40px;
    font-size: 20px;
}

.navbar_navlinks a {
    text-decoration: none;
    color: #000;
    font-weight: normal;
}

.navbar_navlinks li a i {
    margin-right: 5px; /* Adjust the margin-right to create space between the icon and text */
}
/* navbar.html styles */
/* navbar.html styles */