/* working.html styles*/
/* working.html styles*/
.working_header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .working_header h1{
    color:#2581c7;
    margin-bottom: 5px;
  }
  .working_header p{
    color:#4e6475;
    margin-top:5px;
  }
  .working_container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .working_section {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color:lavender;
    width: 45%;
  }
  
  .working_section i {
    color: #2581c7;
    margin-bottom: 10px;
  }
  
  .working_section h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .working_section a {
    font-size: 18px;
    line-height: 1.5;
    text-decoration: none;
  }

  .working_button {
    background-color:  #2581c7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .working_button:hover {
    background-color: white;
    color: #2581c7;
  }
  
  
  .working_bottom-container {
    display: flex;
    justify-content: space-between;
    background-color: lavender;
    padding: 20px;
  }
  
  .working_half1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .working_half2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  
  
  .working_image {
    width: 100%;
    border-radius: 10px;
    padding-top: 20px 0px;
  }
  
  .working_text-container {
    padding: 20px 50px 20px 100px;
    align-items: center;
  }
  
  .working_text-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .working_text-container p {
    font-size: 18px;
    line-height: 1.5;
  }
/* working.html styles*/
/* working.html styles*/
  
/* notifications.html styles */
/* notifications.html styles */
.notifications_container {
  width: 80%;
  margin: 50px auto;
  padding: 30px;
  border-radius: 20px;
  background-color: #dcd4d4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.notifications_heading {
  color: #2581c7;
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

.notifications_list {
  width: 100%;
}

.notifications_item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.notifications_icon {
  font-size: 24px;
  margin-right: 15px;
  color: #2581c7;
}

.notifications_details {
  flex: 1;
}

.notifications_message {
  font-size: 16px;
  margin-bottom: 5px;
}

.notifications_time {
  color: #888;
  font-size: 12px;
}
/* notifications.html styles */
/* notifications.html styles */