<footer class="footer">
    <div class="footer_container">
        <div class="footer_left">
            <h2 class="footer_logo"><a href="/">ON MY WAY</a></h2>
            <ul class="footer_socials">
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="footer_center">
            <ul class="footer_navlinks">
                <li><a href="/login"><i class="fas fa-user"></i> Login</a></li>
                <li><a href="/register"><i class="fas fa-user-plus"></i> Signup</a></li>
                <li><a href="#"><i class="fas fa-download"></i> Download our app</a></li>
                <li><a href="/working"><i class="fas fa-car"></i> How it works</a></li>
                <li><a href="{% url 'register' %}"><i class="fas fa-user-edit"></i> Register</a></li>
                <li><a href="{% url 'changepassword' %}"><i class="fas fa-key"></i> Change password</a></li>
                <li><a href="{% url 'userprofile' %}"><i class="fas fa-user-circle"></i> Profile</a></li>
                <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="/post"><i class="fas fa-plus"></i> Post a trip</a></li>
                <li><a href="/find"><i class="fas fa-search"></i> Find a ride</a></li>
            </ul>
        </div>
    </div>
</footer>