<nav class="navbar">
    <div class="navbar_container">
        <div class="navbar_left">
            <ul class="navbar_navlinks">
                <li><a href="/find"><i class="fas fa-search" style="color: #ed6810;"></i>Find a ride</a></li>
                <li><a href="/post"><i class="fas fa-plus" style="color: #ed6810;"></i>Post a trip</a></li>
            </ul>
        </div>
        <div class="navbar_center">
            <h1 class="navbar_logo"><a href="/">ON MY WAY</a></h1>
        </div>
         <div class="navbar_right">
            <ul class="navbar_navlinks">
                <li><a href="/working"><i class="fas fa-car" style="color: #ed6810;"></i> How it works</a></li>
                <li><a href="/login"><i class="fas fa-user" style="color: #ed6810;"></i> Sign in</a></li>
            </ul>
        </div>
    </div>
</nav>